.root {
	-fx-background-color: #F0FFF0;
}

.command-button {
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.command-button:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.text-area .content {
	-fx-background-color: #F5F5F5;
}