<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<Properties>
		<Property name="date">%d{yyyy-MM-dd HH:mm:ss.SSS}</Property>
		<Property name="daily_log">log/application_%d{yyyy-MM-dd}.log</Property>
	</Properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${date} [ %-5level ] %logger{10} - %msg %n" />
		</Console>
		<RollingFile name="File" fileName="log/application.log" filePattern="${daily_log}.zip">
			<PatternLayout pattern="${date} [ %-5level ] %logger{10} - %msg %n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="Console" />
			<appender-ref ref="File" />
		</root>
	</loggers>
</configuration>